In [3]:
a = "Amjad"
b = "Aziz"
# c = int(input("Enter 3rd Number"))

# print("Your Result is: ", a**2 + b**2 + 2*a*b )

# print("Your Fullname is: ",a ,"   ",b)

Your Fullname is:  Amjad     Aziz

In [6]:
tab = int(input("Which number of table do you want: " ))
num = int(input("How many times of table do you want: " ))


"2 x 1 = 2"
for i in range(num):
    print(tab, "x",i+1, "=", tab * (i + 1) )

Which number of table do you want:  16
How many times of table do you want:  6

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30

In [20]:
tab = int(input("Which number of table do you want: " ))
num = int(input("How many times of table do you want: " ))

for i in range(1, num + 1, 2):
    print(f"{tab} x {i} = {tab * i}")
else:
    print("Your table is finished")

Which number of table do you want:  6
How many times of table do you want:  15

6 x 1 = 6
6 x 3 = 18
6 x 5 = 30
6 x 7 = 42
6 x 9 = 54
6 x 11 = 66
6 x 13 = 78
6 x 15 = 90
Your table is finished

In [6]:
name = input("Please enter your name: ")

eng = int(input("Please enter your English marks: "))
math = int(input("Please enter your Maths Marks: "))
urdu = int(input("Please enter your Urdu Marks: "))

obtain = (eng + math + urdu)

percent = obtain /300 * 100

# grade = "A1"
if percent > 50 and percent < 100:
    grade = "A1"

elif  percent > 40 and percent < 50:
    grade = "Pass"

else:
    grade = "Fail"




print(f"\n\n{name} your obtained marks are {obtain}, and your percentage is {percent}, your garde is {grade}")

Please enter your name:  Amb
Please enter your English marks:  70
Please enter your Maths Marks:  45
Please enter your Urdu Marks:  89

Amb your obtained marks are 204, and your percentage is 68.0, your garde is Pass

In [14]:
a = 3

while a <= 10:
    print(a)
    a += 2

3
5
7
9

In [16]:
a = ""

while a != "q":
    print(1)
    a = str(input("you wanna run: "))

1

you wanna run:  a

1

you wanna run:  a

1

you wanna run:  a

1

you wanna run:  a

1

you wanna run:  q

In [27]:
num  =int(input("Give me a number: "))

if (num % 2) == 0:
    print("You entered EVEN number")

elif (num % 2) != 0:
    print("You entered ODD number")
    
else:
    print("You entered Wrong number")

Give me a number:  56

You entered EVEN number

In [18]:
5 % 2

1

In [5]:
a = ""

while a.lower() != "q":
    num  =int(input("Give me a number: "))

    if (num % 2) == 0:
        print("You entered EVEN number")
    
    elif (num % 2) != 0:
        print("You entered ODD number")
        
    else:
        print("You entered Wrong number")
       
    a = str(input("\n\n\tPress q for stopping the program or other key to continue: "))

Give me a number:  89

You entered ODD number

	Press q for stopping the program or other key to continue:  ty
Give me a number:  8

You entered EVEN number

	Press q for stopping the program or other key to continue:  q

In [6]:
fact = 5
result = 1
while fact > 0:
    result *= fact

    fact -= 1

print(result)

120

In [4]:
a = 1

while a <= 5:
    print(a)

    a += 1

print("abc")

1
2
3
4
5
abc

In [21]:
b = ""

while b.lower() != "n" :
    tab = int(input("give me table number: "))
    a = 1
    num = int(input("Till what number: "))
    
    while a <=num:
        print(f"{tab} x {a} = {tab * a}")
        a += 1
    b = str(input("Pess n to stop otherwise it'll run: "))

give me table number:  6
Till what number:  12

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72

Pess n to stop otherwise it'll run:  n

In [11]:
tab = 3
a = 1

while a <=10:
    print(f"{tab} x {a} = {tab * a}")
    a += 1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [22]:
a = str("63")
b = str("9")
d = float(2.9)
e = float(3.1)
f = d + e

x = int(a)
y = int(b)


print(b + a)

963

In [3]:
a = 'Quaid e Azam said "Never give up."'

#print("This is Arshad's pen.")

j = '''Learn to code with the world's largest web developer site.
Not sure where to begin? 
HTML The language for building web pages Learn HTML Video Tutorial'''

#print("The Quaid e Azam's quote is " + "Never give up.")

print(a[3:9])

id e A

In [13]:
print(j[1])

e

In [16]:
def BioData(a, b, c):
    print(f"My name is {a}")
    print(f"I am student of {b}")
    print(f"I live in {c}")


BioData("Khalil", "Islamabad", "Business")

My name is Obaid
I am student of Business
I live in Lahore

In [19]:
def BioData(a, b, c):
    print(f"My name is {a}")
    print(f"I am student of {b}")
    print(f"I live in {c}")

a = "Amjad"
b = "Aziz"
# c = int(input("Enter 3rd Number"))

# print("Your Result is: ", a**2 + b**2 + 2*a*b )
print("\n**********This is Line\n")
BioData()
print("\n**********This is Line\n")
# print("Your Fullname is: ",a ,"   ",b)

BioData()

**********This is Line

My name is Amjad
I am student of CIT
I live in Karachi
I am Pakistani

**********This is Line

My name is Amjad
I am student of CIT
I live in Karachi
I am Pakistani

In [2]:
def abc():
    print("this is function")

    #abc()

abc()

this is function

In [15]:
def percentage(a):
    per =  a / 500 *100

    return per

obt = int(input("Give me Obtain"))

percentage(obt)

Give me Obtain 400

80.0

In [1]:
def cal(a, b):
    print("When plus", a + b)
    print("When Divide", a / b)


cal(4, 8)

When plus 12
When Divide 0.5

In [1]:
names = ["Abc", "xyz", "123", "Abc", 456, "PQR"]

print(names)
a = ["DEF", "GHI"]
names[6:7] = a


print(names)

['Abc', 'xyz', '123', 'Abc', 456, 'PQR']
['Abc', 'xyz', '123', 'Abc', 456, 'PQR', 'DEF', 'GHI']

In [36]:
y = input("Give me a value: ")
names.insert(6, y)

print(names)

Give me a value:  Arshad

['Abc', 'xyz', '123', 'Abc', 456, 'PQR', 'Arshad', 'ueioer', 'new', 'p[ti']

In [38]:
print(names)

names.pop(-3)

print(names)

['Abc', 'xyz', '123', 'Abc', 456, 'PQR', 'Arshad', 'ueioer', 'new', 'p[ti']
['Abc', 'xyz', '123', 'Abc', 456, 'PQR', 'Arshad', 'new', 'p[ti']

In [42]:
names.remove('xyz', "123")

print(names)

TypeError: list.remove() takes exactly one argument (2 given)

In [41]:
for i in names:
    print(i)

Abc
xyz
123
Abc
456
PQR
Arshad
new

In [45]:
print(names)

for i in range(2):
    x = input("Give me a value: ")
    
    names.remove(x)

print(namews)

['Abc', 'xyz', '123', 'Abc', 456, 'PQR', 'Arshad', 'new']

Give me a value:  123
Give me a value:  PQR

NameError: name 'namews' is not defined

In [2]:
print(names)

['Abc', 'xyz', '123', 'Abc', 456, 'PQR', 'DEF', 'GHI']

In [19]:
# for i in range(7, 2, -1):
#     print(names[i])
#     print(i)

# for i in names[2:7]:
#     print(i)

for i in names:
    print(i)

Abc
xyz
123
Abc
456
PQR
DEF
GHI

In [25]:
# names.pop(-1)
for i in range(len(names)):
    print(names[i])

Abc
xyz
123
Abc
456
PQR

In [31]:
lst1 = [1, 2, 3, 4] + [2, 3, 4]

# lst = [1, 2, 3] + 4
print(lst1)

[1, 2, 3, 4, 2, 3, 4]

In [41]:
nums = {1, 3, 5, 7, 9}

# for i in nums:
#     print(i)

nums.add(11)

print(nums)

{1, 3, 5, 7, 9, 11}

In [42]:
nums.remove(11)

print(nums)

{1, 3, 5, 7, 9}

In [46]:
J = set((2, 4, 6))

print(type(J))

<class 'set'>

In [51]:
print(lst1)

a = set(lst1)

print(a)

print(len(lst1), len(a))

[1, 2, 3, 4, 2, 3, 4]
{1, 2, 3, 4}
7 4

In [73]:
tup = ("abc", "123", "xyz", "456", 789) + (2, 6)

tup[2] = "yrt"

print(tup[2])

TypeError: 'tuple' object does not support item assignment

In [1]:
x = (3,)

print(type(x))

<class 'tuple'>

In [5]:
a = ["Aamir", "Muneeb", "Anas"]

print(a)

['Aamir', 'Muneeb', 'Anas']

In [19]:
b = {"Aamir":["Fahter", 12, 1564], "Muneeb": "xyz", "Anas":"jkl"}

b["Aamir"]

['Fahter', 12, 1564]

In [43]:
t = dict(name = "John", age = 36, country = "Norway")
print(t)

t["Education"] = "P.Hd"

t.update({"Job":"Analyst"})
print(t)

{'name': 'John', 'age': 36, 'country': 'Norway'}
{'name': 'John', 'age': 36, 'country': 'Norway', 'Education': 'P.Hd', 'Job': 'Analyst'}

In [55]:
print("These are values", t.values())
print("These are Keys", t.keys())

print("This is entire dictionary", t.items())

t.items()

These are values dict_values(['John', 36, 'Norway', 'P.Hd', 'Analyst'])
These are Keys dict_keys(['name', 'age', 'country', 'Education', 'Job'])
This is entire dictionary dict_items([('name', 'John'), ('age', 36), ('country', 'Norway'), ('Education', 'P.Hd'), ('Job', 'Analyst')])

dict_items([('name', 'John'), ('age', 36), ('country', 'Norway'), ('Education', 'P.Hd'), ('Job', 'Analyst')])

In [71]:
#t.items()

for x, y in t.items():
    print(x, y)

name John
age 36
country Norway
Education P.Hd
Job Analyst

In [13]:
import datetime as d

x = d.datetime.now()

print(f"This month is {x.month}, and date of today is {x.day}, and time is {x.hour, x.minute}")

This month is 9, and date of today is 26, and time is (10, 45)

In [25]:
print(x.strftime("%b"))

Sep

In [33]:
import math as m

a = 25

print(m.sqrt(a))
print(m.pi)

5.0
3.141592653589793